### License

This code example was developed by Dr. David W. McDonald for use in DATA 512, a course in the UW MS Data Science degree program. This code is provided under the [Creative Commons](https://creativecommons.org) [CC-BY license](https://creativecommons.org/licenses/by/4.0/). Revision 1.1 - August 14, 2023

In [ ]:
# 
# These are standard python modules
import json, time, urllib.parse
#
# The 'requests' module is not a standard Python module. You will need to install this with pip/pip3 if you do not already have it
import requests
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#########
#
#    CONSTANTS
#

# The basic English Wikipedia API endpoint
API_ENWIKIPEDIA_ENDPOINT = "https://en.wikipedia.org/w/api.php"

# We'll assume that there needs to be some throttling for these requests - we should always be nice to a free data resource
API_LATENCY_ASSUMED = 0.002       # Assuming roughly 2ms latency on the API and network
API_THROTTLE_WAIT = (1.0/100.0)-API_LATENCY_ASSUMED

# When making automated requests we should include something that is unique to the person making the request
# This should include an email - your UW email would be good to put in there
REQUEST_HEADERS = {
    'User-Agent': '<prerit16@uw.edu>, University of Washington, MSDS DATA 512 - AUTUMN 2023',
}

# This is just a list of English Wikipedia article titles that we can use for example requests
#ARTICLE_TITLES = [ 'Bison', 'Northern flicker', 'Red squirrel', 'Chinook salmon', 'Horseshoe bat' ]

# This is a string of additional page properties that can be returned see the Info documentation for
# what can be included. If you don't want any this can simply be the empty string
PAGEINFO_EXTENDED_PROPERTIES = "talkid|url|watched|watchers"
#PAGEINFO_EXTENDED_PROPERTIES = ""

# This template lists the basic parameters for making this
PAGEINFO_PARAMS_TEMPLATE = {
    "action": "query",
    "format": "json",
    "titles": "",           # to simplify this should be a single page title at a time
    "prop": "info",
    "inprop": PAGEINFO_EXTENDED_PROPERTIES
}

In [3]:
#########
#
#    PROCEDURES/FUNCTIONS
#

def request_pageinfo_per_article(article_title = None, 
                                 endpoint_url = API_ENWIKIPEDIA_ENDPOINT, 
                                 request_template = PAGEINFO_PARAMS_TEMPLATE,
                                 headers = REQUEST_HEADERS):
    
    # article title can be as a parameter to the call or in the request_template
    print(article_title)
    if article_title:
        request_template['titles'] = article_title

    if not request_template['titles']:
        raise Exception("Must supply an article title to make a pageinfo request.")

    # make the request
    try:
        # we'll wait first, to make sure we don't exceed the limit in the situation where an exception
        # occurs during the request processing - throttling is always a good practice with a free
        # data source like Wikipedia - or any other community sources
        if API_THROTTLE_WAIT > 0.0:
            time.sleep(API_THROTTLE_WAIT)
        response = requests.get(endpoint_url, headers=headers, params=request_template)
        json_response = response.json()
    except Exception as e:
        print(e)
        json_response = None
    return json_response

In [4]:
#########
#
#    CONSTANTS
#

#    The current LiftWing ORES API endpoint and prediction model
#
API_ORES_LIFTWING_ENDPOINT = "https://api.wikimedia.org/service/lw/inference/v1/models/{model_name}:predict"
API_ORES_EN_QUALITY_MODEL = "enwiki-articlequality"

#
#    The throttling rate is a function of the Access token that you are granted when you request the token. The constants
#    come from dissecting the token and getting the rate limits from the granted token. An example of that is below.
#
API_LATENCY_ASSUMED = 0.002       # Assuming roughly 2ms latency on the API and network
API_THROTTLE_WAIT = (60.0/5000.0)-API_LATENCY_ASSUMED

#    When making automated requests we should include something that is unique to the person making the request
#    This should include an email - your UW email would be good to put in there
#    
#    Because all LiftWing API requests require some form of authentication, you need to provide your access token
#    as part of the header too
#
REQUEST_HEADER_TEMPLATE = {
    'User-Agent': "<prerit16@uw.edu>, University of Washington, MSDS DATA 512 - AUTUMN 2023",
    'Content-Type': 'application/json',
    'Authorization': "Bearer {access_token}"
}
#
#    This is a template for the parameters that we need to supply in the headers of an API request
#
REQUEST_HEADER_PARAMS_TEMPLATE = {
    'email_address' : "prerit16@uw.edu",         # your email address should go here
    'access_token'  : "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJiZjZkNTliNjgyNDcwNzRiZGE4YmNmMWRiM2Q4NDEyZCIsImp0aSI6IjdhNDc5YTllZmU5NTgzYjYyNTk5OTFiMWRlMDJlMzBkOWQ5Njk2YmFmMGYxNzVkMGU3YmUwNWRiYTlkZWViNTEyYmE0YzZmMjZmYzM5YjQ4IiwiaWF0IjoxNjk3NDEyMzQ2LjUwMTE5NSwibmJmIjoxNjk3NDEyMzQ2LjUwMTE5OCwiZXhwIjozMzI1NDMyMTE0Ni41MDAwMDgsInN1YiI6Ijc0MDEzMDQ4IiwiaXNzIjoiaHR0cHM6Ly9tZXRhLndpa2ltZWRpYS5vcmciLCJyYXRlbGltaXQiOnsicmVxdWVzdHNfcGVyX3VuaXQiOjUwMDAsInVuaXQiOiJIT1VSIn0sInNjb3BlcyI6WyJiYXNpYyJdfQ.jReb914JnsSCFiQSc535WuaxzC8aBNmknhzmlFBpmP8HhahGRPygJEmful9sbEew-qULgQgZu2WRl2ZsAqbBq7zY6Zkbeab2DCsJogOwOHoUdQZmvSgWkacWFdURompT88ynCdln1wmwNr_84IenhbKci00oxIMrEPkQE5zkW1RJv9Q-EHwWPbMi7cgBun5LnAd60pDrk7svKO1k2ImzkwYacb1x3s0vA6l28iOwb0HeMCM-eR96_oehA1oUxOVJoU9iuwWjn6nDVdiMrhfwFVBi_putHJmj7C6gXDYnVExh0lDei1aQeaP7VACjVLDXBeYjoza93L51radHMp-TGZYJ5c4CX_bV8cVOqVS5bgzkkUIhVimOT8LpO1U7wgvG74C0YGPaHpUIlVzndrFL62eInAMP7QuPqFaoKjYOLgRAIwpOBw_J89wQ72jOHiQFulgsfjny94eCXhZARwagt8O4mBC8aSKdML-tnVNchwEz68yd8zBDGBS4X9k6uHgKmwYG894KDeuy5JmgKEbLTbJa7Y7rnet1JrC03HIU7ae8LiMEFm29MNkexuBXDpzv7-vOk-HUUBFKdRN07cTbezlgEbOnOIt44cIxKk95wvW6mOX8kL2W2SbqFh2J17I0owx5ol02x1OMJeajbkx5stYVC3f7gTssaeM8FMMXFh4"          # the access token you create will need to go here
}

#
#    A dictionary of English Wikipedia article titles (keys) and sample revision IDs that can be used for this ORES scoring example
#
ARTICLE_REVISIONS = { 'Bison':1085687913 , 'Northern flicker':1086582504 , 'Red squirrel':1083787665 , 'Chinook salmon':1085406228 , 'Horseshoe bat':1060601936 }

#
#    This is a template of the data required as a payload when making a scoring request of the ORES model
#
ORES_REQUEST_DATA_TEMPLATE = {
    "lang":        "en",     # required that its english - we're scoring English Wikipedia revisions
    "rev_id":      "",       # this request requires a revision id
    "features":    True
}

#
#    These are used later - defined here so they, at least, have empty values
#

USERNAME = "Prerit16"
ACCESS_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJiZjZkNTliNjgyNDcwNzRiZGE4YmNmMWRiM2Q4NDEyZCIsImp0aSI6IjdhNDc5YTllZmU5NTgzYjYyNTk5OTFiMWRlMDJlMzBkOWQ5Njk2YmFmMGYxNzVkMGU3YmUwNWRiYTlkZWViNTEyYmE0YzZmMjZmYzM5YjQ4IiwiaWF0IjoxNjk3NDEyMzQ2LjUwMTE5NSwibmJmIjoxNjk3NDEyMzQ2LjUwMTE5OCwiZXhwIjozMzI1NDMyMTE0Ni41MDAwMDgsInN1YiI6Ijc0MDEzMDQ4IiwiaXNzIjoiaHR0cHM6Ly9tZXRhLndpa2ltZWRpYS5vcmciLCJyYXRlbGltaXQiOnsicmVxdWVzdHNfcGVyX3VuaXQiOjUwMDAsInVuaXQiOiJIT1VSIn0sInNjb3BlcyI6WyJiYXNpYyJdfQ.jReb914JnsSCFiQSc535WuaxzC8aBNmknhzmlFBpmP8HhahGRPygJEmful9sbEew-qULgQgZu2WRl2ZsAqbBq7zY6Zkbeab2DCsJogOwOHoUdQZmvSgWkacWFdURompT88ynCdln1wmwNr_84IenhbKci00oxIMrEPkQE5zkW1RJv9Q-EHwWPbMi7cgBun5LnAd60pDrk7svKO1k2ImzkwYacb1x3s0vA6l28iOwb0HeMCM-eR96_oehA1oUxOVJoU9iuwWjn6nDVdiMrhfwFVBi_putHJmj7C6gXDYnVExh0lDei1aQeaP7VACjVLDXBeYjoza93L51radHMp-TGZYJ5c4CX_bV8cVOqVS5bgzkkUIhVimOT8LpO1U7wgvG74C0YGPaHpUIlVzndrFL62eInAMP7QuPqFaoKjYOLgRAIwpOBw_J89wQ72jOHiQFulgsfjny94eCXhZARwagt8O4mBC8aSKdML-tnVNchwEz68yd8zBDGBS4X9k6uHgKmwYG894KDeuy5JmgKEbLTbJa7Y7rnet1JrC03HIU7ae8LiMEFm29MNkexuBXDpzv7-vOk-HUUBFKdRN07cTbezlgEbOnOIt44cIxKk95wvW6mOX8kL2W2SbqFh2J17I0owx5ol02x1OMJeajbkx5stYVC3f7gTssaeM8FMMXFh4"

In [5]:
#########
#
#    PROCEDURES/FUNCTIONS
#

def request_ores_score_per_article(article_revid = None, email_address=None, access_token=None,
                                   endpoint_url = API_ORES_LIFTWING_ENDPOINT, 
                                   model_name = API_ORES_EN_QUALITY_MODEL, 
                                   request_data = ORES_REQUEST_DATA_TEMPLATE, 
                                   header_format = REQUEST_HEADER_TEMPLATE, 
                                   header_params = REQUEST_HEADER_PARAMS_TEMPLATE):
    
    #    Make sure we have an article revision id, email and token
    #    This approach prioritizes the parameters passed in when making the call
    if article_revid:
        request_data['rev_id'] = article_revid
    if email_address:
        header_params['email_address'] = email_address
    if access_token:
        header_params['access_token'] = access_token
    
    #   Making a request requires a revision id - an email address - and the access token
    if not request_data['rev_id']:
        raise Exception("Must provide an article revision id (rev_id) to score articles")
    if not header_params['email_address']:
        raise Exception("Must provide an 'email_address' value")
    if not header_params['access_token']:
        raise Exception("Must provide an 'access_token' value")
    
    # Create the request URL with the specified model parameter - default is a article quality score request
    request_url = endpoint_url.format(model_name=model_name)
    
    # Create a compliant request header from the template and the supplied parameters
    headers = dict()
    for key in header_format.keys():
        headers[str(key)] = header_format[key].format(**header_params)
    
    # make the request
    try:
        # we'll wait first, to make sure we don't exceed the limit in the situation where an exception
        # occurs during the request processing - throttling is always a good practice with a free data
        # source like ORES - or other community sources
        if API_THROTTLE_WAIT > 0.0:
            time.sleep(API_THROTTLE_WAIT)
        #response = requests.get(request_url, headers=headers)
        response = requests.post(request_url, headers=headers, data=json.dumps(request_data))
        json_response = response.json()
    except Exception as e:
        print(e)
        json_response = None
    return json_response

### READING the DATA PROVIDED WITH THE ASSIGNMENT AND AND DROPPING DUPLICATES

In [135]:
data = pd.read_csv('../Data/us_cities_by_state_SEPT.2023.csv')
data.drop_duplicates(subset = ['page_title'], inplace=True)
data.shape

(21519, 3)

# This will take a lot of time to run. I have saved the data I scraped and added read that as a csv

### API CALL for fetching lastrevid

# ############################################################################################################################

In [ ]:
filtered_data = []
failed_titles  = []
for index, row in data.iterrows():
    try:
        PAGEINFO_PARAMS_TEMPLATE['title'] = row['page_title']
        info = request_pageinfo_per_article(row['page_title'])
        filtered_data.append(pd.json_normalize((info['query']['pages'].values())))    
        print(f"Data Fetched for {row['page_title']}")
    except:
        print(f"Request Failed for {row['page_title']}")
        failed_titles.append(row['page_title'])
wiki_detailed_data = pd.concat(filtered_data)
wiki_detailed_data.to_csv('../Data/Wiki_Scraped_data.csv')
wiki_detailed_data.shape

###  This will print the titles for which the API failed to fetch data

In [ ]:
failed_titles

# ############################################################################################################################

## Reading from Saved Data

In [297]:
wiki_detailed_data = pd.read_csv('../../HW2/Data/Wiki_Scraped_data.csv')
wiki_detailed_data['STATE'] = data['state']
wiki_detailed_data.drop('Unnamed: 0', axis =1 ,inplace=True)
wiki_detailed_data.drop_duplicates(subset = ['title'], inplace=True)
wiki_detailed_data.shape

(21519, 18)

# This will take a lot of time to run. I have saved the data I scraped and added read that as a csv

## Fetching ORES scores from the API

# ############################################################################################################################

In [ ]:
hparams = REQUEST_HEADER_PARAMS_TEMPLATE.copy()
hparams['email_address'] = "prerit16@uw.edu"
hparams['access_token'] = ACCESS_TOKEN
score_failed = []
scores = []
def fetch_wiki(row):
    try:
        rd = ORES_REQUEST_DATA_TEMPLATE.copy()
        rd['rev_id'] = row
        print(f"Getting LiftWing ORES scores for revid: {row}")
        score = request_ores_score_per_article(request_data=rd,header_params=hparams)
        inter = list(score['enwiki']['scores'].values())[0]['articlequality']['score']
        print(inter)
        inter['lastrevid'] = row
        scores.append(pd.json_normalize(inter))
        print(scores)
        return
                    
    except:
        print(f"Failed to get scores for revid: {row}")
        score_failed.append(row)
wiki_detailed_data['lastrevid'].apply(lambda x : fetch_wiki(x))
score_data = pd.concat(scores)
#score_data.to_csv('../Data/ores_score.csv')
score_data[['lastrevid','prediction']].to_csv('../Data/ores_score.csv', index=False)
score_data.shape

### This will print the titles for which the API failed to fetch ORES score

In [ ]:
score_failed

# #############################################################################################################################

## Reading from Saved Data

In [298]:
score_data = pd.read_csv('../Data/ores_score.csv')
print(score_data.shape)
score_data.head(2)

(21516, 2)

    lastrevid prediction
0   114406864       Stub
1  1173789863          C

In [299]:
score_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21516 entries, 0 to 21515
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lastrevid   21516 non-null  int64
 1   prediction  21516 non-null  object
dtypes: int64(1), object(1)
memory usage: 336.3+ KB

## Merging data for titles fetched from Wiki with ORES Scores data for those titles

In [300]:
wiki_data = pd.merge(wiki_detailed_data, score_data , how = 'left',on = 'lastrevid')
#wiki_data['STATE'] = wiki_data['title'].apply(lambda x: str(x).strip().split(',')[-1].strip())
print(wiki_data.shape)
wiki_data.head(2)

(21519, 19)

,pageid,ns,title,contentmodel,pagelanguage,pagelanguagehtmlcode,pagelanguagedir,touched,lastrevid,length,talkid,fullurl,editurl,canonicalurl,watchers,redirect,new,STATE,prediction
0,104730,0,"Abbeville, Alabama",wikitext,en,en,ltr,2023-10-10T22:35:37Z,1171163550,24706,281244.0,"https://en.wikipedia.org/wiki/Abbeville,_Alabama",https://en.wikipedia.org/w/index.php?title=Abb...,"https://en.wikipedia.org/wiki/Abbeville,_Alabama",NaN,NaN,NaN,Alabama,C
1,104761,0,"Adamsville, Alabama",wikitext,en,en,ltr,2023-10-10T22:35:37Z,1177621427,18040,281272.0,"https://en.wikipedia.org/wiki/Adamsville,_Alabama",https://en.wikipedia.org/w/index.php?title=Ada...,"https://en.wikipedia.org/wiki/Adamsville,_Alabama",NaN,NaN,NaN,Alabama,C

In [301]:
wiki_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21519 entries, 0 to 21518
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   pageid                21519 non-null  int64
 1   ns                    21519 non-null  int64
 2   title                 21519 non-null  object
 3   contentmodel          21519 non-null  object
 4   pagelanguage          21519 non-null  object
 5   pagelanguagehtmlcode  21519 non-null  object
 6   pagelanguagedir       21519 non-null  object
 7   touched               21519 non-null  object
 8   lastrevid             21519 non-null  int64
 9   length                21519 non-null  int64
 10  talkid                21396 non-null  float64
 11  fullurl               21519 non-null  object
 12  editurl               21519 non-null  object
 13  canonicalurl          21519 non-null  object
 14  watchers              2700 non-null   float64
 15  redirect              0 non-null      float64
 16  new                   0 non-null      float64
 17  STATE                 21519 non-null  object
 18  prediction            21363 non-null  object
dtypes: float64(4), int64(4), object(11)
memory usage: 3.3+ MB

## Creating a list of Title with No Scores

In [303]:
print(wiki_data[wiki_data['prediction'].isnull()].shape)
state_list = wiki_data[wiki_data['prediction'].isnull()]['STATE'].reset_index(drop=True)
print(state_list.shape)
print(state_list.nunique())
state_list.unique()

(156, 19)
(156,)
39

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Florida', 'Georgia_(U.S._state)', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maryland',
       'Massachusetts', 'Michigan', 'Mississippi', 'Missouri', 'Montana',
       'Nevada', 'New_Hampshire', 'New_Jersey', 'New_York',
       'North_Carolina', 'North_Dakota', 'Ohio', 'Oregon', 'Pennsylvania',
       'Rhode_Island', 'South_Carolina', 'South_Dakota', 'Tennessee',
       'Texas', 'Virginia', 'Washington', 'West_Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

## Filtering the Merged data to remove those rows which don't have a prediction

In [304]:
wiki_data = wiki_data[~wiki_data['prediction'].isnull()]
wiki_data.shape

(21363, 19)

## Reading Population Data

In [305]:
population = pd.read_excel('../Data/Population.xlsx')
population.columns = ['Geographic Area','April 1, 2020 Estimates Base','2020','2021','2022']
population['Geographic Area'] = population['Geographic Area'].apply(lambda x : str(x).replace('.',''))  
population.head(10)

,Geographic Area,"April 1, 2020 Estimates Base",2020,2021,2022
0,United States,331449520.0,331511512.0,332031554.0,333287557.0
1,Northeast,57609156.0,57448898.0,57259257.0,57040406.0
2,Midwest,68985537.0,68961043.0,68836505.0,68787595.0
3,South,126266262.0,126450613.0,127346029.0,128716192.0
4,West,78588565.0,78650958.0,78589763.0,78743364.0
5,Alabama,5024356.0,5031362.0,5049846.0,5074296.0
6,Alaska,733378.0,732923.0,734182.0,733583.0
7,Arizona,7151507.0,7179943.0,7264877.0,7359197.0
8,Arkansas,3011555.0,3014195.0,3028122.0,3045637.0
9,California,39538245.0,39501653.0,39142991.0,39029342.0

## Reading the List of regions

In [306]:
region = pd.read_excel('../Data/US States by Region - US Census Bureau.xlsx', index_col=[0,1])
region = region.droplevel(0).dropna()
region.reset_index(inplace=True)
region.head()

      DIVISION          STATE
0  New England    Connecticut
1  New England          Maine
2  New England  Massachusetts
3  New England  New Hampshire
4  New England   Rhode Island

## Creating a merged dataframe for Division, State and Population

In [352]:
region_population = pd.merge(region, population , how = 'left', left_on = 'STATE', right_on = 'Geographic Area')
region_population= region_population[['DIVISION','STATE','2022']]
region_population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DIVISION  50 non-null     object
 1   STATE     50 non-null     object
 2   2022      50 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.6+ KB

In [353]:
region_population['STATE'] = region_population['STATE'].apply(lambda x: str(x).strip())
region_population.head(4)

      DIVISION          STATE       2022
0  New England    Connecticut  3626205.0
1  New England          Maine  1385340.0
2  New England  Massachusetts  6981974.0
3  New England  New Hampshire  1395231.0

In [356]:
final_df = pd.merge(wiki_data,region_population, how='left', on = 'STATE')
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21363 entries, 0 to 21362
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   pageid                21363 non-null  int64
 1   ns                    21363 non-null  int64
 2   title                 21363 non-null  object
 3   contentmodel          21363 non-null  object
 4   pagelanguage          21363 non-null  object
 5   pagelanguagehtmlcode  21363 non-null  object
 6   pagelanguagedir       21363 non-null  object
 7   touched               21363 non-null  object
 8   lastrevid             21363 non-null  int64
 9   length                21363 non-null  int64
 10  talkid                21240 non-null  float64
 11  fullurl               21363 non-null  object
 12  editurl               21363 non-null  object
 13  canonicalurl          21363 non-null  object
 14  watchers              2589 non-null   float64
 15  redirect              0 non-null      float64
 16  new                   0 non-null      float64
 17  STATE                 21363 non-null  object
 18  prediction            21363 non-null  object
 19  DIVISION              18042 non-null  object
 20  2022                  18042 non-null  float64
dtypes: float64(5), int64(4), object(12)
memory usage: 3.6+ MB

## List of Division where Population is Missing

In [334]:
print(final_df[final_df['DIVISION'].isnull()]['STATE'].shape)
print("Number of Divisions with Missing States :", final_df[final_df['DIVISION'].isnull()]['STATE'].nunique())
final_df[final_df['DIVISION'].isnull()]['STATE'].unique()

(3321,)
Number of Divisions with Missing States : 11

array(['Georgia_(U.S._state)', 'New_Hampshire', 'New_Jersey',
       'New_Mexico', 'New_York', 'North_Carolina', 'North_Dakota',
       'Rhode_Island', 'South_Carolina', 'South_Dakota', 'West_Virginia'],
      dtype=object)

## Creating Final Merged Data after removing the divisions where population is missing

In [314]:
final_df = final_df[~final_df['DIVISION'].isnull()]
final_df.shape

(18042, 21)

## STORING DATA IN THE DESIRED FORMAT FOR STEP 3

In [315]:
final_df.columns

Index(['pageid', 'ns', 'title', 'contentmodel', 'pagelanguage',
       'pagelanguagehtmlcode', 'pagelanguagedir', 'touched', 'lastrevid',
       'length', 'talkid', 'fullurl', 'editurl', 'canonicalurl', 'watchers',
       'redirect', 'new', 'STATE', 'prediction', 'DIVISION', '2022'],
      dtype='object')

In [316]:
csv_generate = final_df[['STATE','DIVISION','2022','title','lastrevid','prediction']]
csv_generate.columns = ['state','regional_division','population','article_title','revision_id','article_quality']
csv_generate.to_csv('../Output/wp_scored_city_articles_by_state.csv')
csv_generate

,state,regional_division,population,article_title,revision_id,article_quality
0,Alabama,East South Central,5074296.0,"Abbeville, Alabama",1171163550,C
1,Alabama,East South Central,5074296.0,"Adamsville, Alabama",1177621427,C
2,Alabama,East South Central,5074296.0,"Addison, Alabama",1168359898,C
3,Alabama,East South Central,5074296.0,"Akron, Alabama",1165909508,GA
4,Alabama,East South Central,5074296.0,"Alabaster, Alabama",1179139816,C
...,...,...,...,...,...,...
21358,Wyoming,Mountain,581381.0,"Wamsutter, Wyoming",1169591845,GA
21359,Wyoming,Mountain,581381.0,"Wheatland, Wyoming",1176370621,GA
21360,Wyoming,Mountain,581381.0,"Worland, Wyoming",1166347917,GA
21361,Wyoming,Mountain,581381.0,"Wright, Wyoming",1166334449,GA
21362,Wyoming,Mountain,581381.0,"Yoder, Wyoming",1171182284,C

# STEP 4 and 5 : ANALYSIS

In [339]:
final_df = csv_generate

In [340]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18042 entries, 0 to 21362
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              18042 non-null  object
 1   regional_division  18042 non-null  object
 2   population         18042 non-null  float64
 3   article_title      18042 non-null  object
 4   revision_id        18042 non-null  int64
 5   article_quality    18042 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 986.7+ KB

## ANALYSIS 1 - Top 10 US states by coverage: The 10 US states with the highest total articles per capita (in descending order)

### Gist of the code :
Aggregating based on State by using groupby

Dropping Duplicates 

Sorting Values in Descending Order

In [341]:
inter = final_df.groupby(['state'])['article_title'].count().sort_values(ascending=False).reset_index()
articles_per_capita = pd.merge(inter, final_df,how = 'left', on = 'state')
articles_per_capita= articles_per_capita[['state','article_title_x','population']].drop_duplicates(subset=  ['state']).reset_index(drop=True)
articles_per_capita['article_per_capita_ratio'] = articles_per_capita['article_title_x']/articles_per_capita['population']
articles_per_capita.columns = ['state','article_count','population','article_per_capita_ratio']
articles_per_capita.sort_values(by = 'article_per_capita_ratio', ascending = False, inplace=True)
articles_per_capita.reset_index(inplace=True, drop=True)
articles_per_capita.head(10)

          state  article_count  population  article_per_capita_ratio
0       Vermont            329    647064.0                  0.000508
1         Maine            483   1385340.0                  0.000349
2          Iowa           1039   3200517.0                  0.000325
3        Alaska            149    733583.0                  0.000203
4  Pennsylvania           2548  12972008.0                  0.000196
5      Michigan           1766  10034113.0                  0.000176
6       Wyoming             98    581381.0                  0.000169
7      Arkansas            498   3045637.0                  0.000164
8      Missouri            948   6177957.0                  0.000153
9     Minnesota            854   5717184.0                  0.000149

## ANALYSIS 2 - Bottom 10 US states by coverage: The 10 US states with the lowest total articles per capita (in ascending order) .

### Gist of the code :
Aggregating based on State by using groupby

Dropping Duplicates 

Sorting Values in Ascending Order

In [342]:
inter = final_df.groupby(['state'])['article_title'].count().sort_values(ascending=False).reset_index()
articles_per_capita = pd.merge(inter, final_df,how = 'left', on = 'state')
articles_per_capita= articles_per_capita[['state','article_title_x','population']].drop_duplicates(subset=  ['state']).reset_index(drop=True)
articles_per_capita['article_per_capita_ratio'] = articles_per_capita['article_title_x']/articles_per_capita['population']
articles_per_capita.columns = ['state','article_count','population','article_per_capita_ratio']
articles_per_capita.sort_values(by = 'article_per_capita_ratio', ascending = True, inplace=True)
articles_per_capita.reset_index(inplace=True, drop=True)
articles_per_capita.head(10)

        state  article_count  population  article_per_capita_ratio
0      Nevada             18   3177772.0                  0.000006
1  California            474  39029342.0                  0.000012
2     Arizona             90   7359197.0                  0.000012
3    Virginia            128   8683619.0                  0.000015
4     Florida            404  22244823.0                  0.000018
5    Oklahoma             75   4019800.0                  0.000019
6      Kansas             61   2937150.0                  0.000021
7    Maryland            156   6164660.0                  0.000025
8   Wisconsin            190   5892539.0                  0.000032
9  Washington            256   7785786.0                  0.000033

## ANALYSIS 3 - Top 10 US states by high quality: The 10 US states with the highest high quality articles per capita (in descending order) .

### Filtering the merged data to only find the rows with high quality. Using GA and FA as the condition for filtering high quality articles

In [343]:
final_df.head()
quality_df = final_df.loc[final_df['article_quality'].isin(['GA','FA'])]
print(quality_df.shape)

(3899, 6)

### Gist of the code :
Aggregating based on State by using groupby

Dropping Duplicates 

Sorting Values in Descending Order

In [344]:

inter = quality_df.groupby(['state'])['article_title'].count().sort_values(ascending=False).reset_index()
articles_per_capita = pd.merge(inter, quality_df,how = 'left', on = 'state')
articles_per_capita= articles_per_capita[['state','article_title_x','population']].drop_duplicates(subset=  ['state']).reset_index(drop=True)
articles_per_capita['article_per_capita_ratio'] = articles_per_capita['article_title_x']/articles_per_capita['population']
articles_per_capita.columns = ['state','article_count','population','article_per_capita_ratio']
articles_per_capita.sort_values(by = 'article_per_capita_ratio', ascending = False, inplace=True)
articles_per_capita.reset_index(inplace=True, drop=True)
articles_per_capita.head(10)

          state  article_count  population  article_per_capita_ratio
0       Vermont             45    647064.0                  0.000070
1       Wyoming             38    581381.0                  0.000065
2       Montana             54   1122867.0                  0.000048
3  Pennsylvania            562  12972008.0                  0.000043
4      Missouri            262   6177957.0                  0.000042
5        Alaska             31    733583.0                  0.000042
6        Oregon            140   4240137.0                  0.000033
7          Iowa            103   3200517.0                  0.000032
8         Maine             43   1385340.0                  0.000031
9     Minnesota            169   5717184.0                  0.000030

## ANALYSIS 4 - Bottom 10 US states by high quality: The 10 US states with the lowest high quality articles per capita (in ascending order).

### Filtering the merged data to only find the rows with high quality. Using GA and FA as the condition for filtering high quality articles

In [345]:
final_df.head()
quality_df = final_df.loc[final_df['article_quality'].isin(['GA','FA'])]
print(quality_df.shape)

(3899, 6)

### Gist of the code :
Aggregating based on State by using groupby

Dropping Duplicates 

Sorting Values in Ascending Order

In [346]:

inter = quality_df.groupby(['state'])['article_title'].count().sort_values(ascending=False).reset_index()
articles_per_capita = pd.merge(inter, quality_df,how = 'left', on = 'state')
articles_per_capita= articles_per_capita[['state','article_title_x','population']].drop_duplicates(subset=  ['state']).reset_index(drop=True)
articles_per_capita['article_per_capita_ratio'] = articles_per_capita['article_title_x']/articles_per_capita['population']
articles_per_capita.columns = ['state','article_count','population','article_per_capita_ratio']
articles_per_capita.sort_values(by = 'article_per_capita_ratio', ascending = True, inplace=True)
articles_per_capita.reset_index(inplace=True, drop=True)
articles_per_capita.head(10)

           state  article_count  population  article_per_capita_ratio
0       Virginia             18   8683619.0                  0.000002
1         Nevada              8   3177772.0                  0.000003
2        Arizona             24   7359197.0                  0.000003
3     California            172  39029342.0                  0.000004
4        Florida            114  22244823.0                  0.000005
5       Maryland             42   6164660.0                  0.000007
6         Kansas             21   2937150.0                  0.000007
7       Oklahoma             31   4019800.0                  0.000008
8  Massachusetts             62   6981974.0                  0.000009
9      Louisiana             44   4590241.0                  0.000010

## ANALYSIS 5 - Census divisions by total coverage: A rank ordered list of US census divisions (in descending order) by total articles per capita.

In [347]:
division_df = final_df.drop_duplicates(subset = ['regional_division','state']).reset_index(drop=True)
division_df = division_df.groupby('regional_division')['population'].sum().reset_index()
division_df

    regional_division  population
0  East North Central  47097779.0
1  East South Central  19578002.0
2     Middle Atlantic  12972008.0
3            Mountain  23400976.0
4         New England   9014378.0
5             Pacific  53229044.0
6      South Atlantic  38111498.0
7  West North Central  18032808.0
8  West South Central  41685250.0

### Gist of the code :
Aggregating based on Regional Division by using groupby

Dropping Duplicates 

Sorting Values in Descending Order

In [348]:
inter = final_df.groupby(['regional_division'])['article_title'].count().sort_values(ascending=False).reset_index()
articles_per_capita = pd.merge(inter, division_df,how = 'left', on = 'regional_division')
articles_per_capita= articles_per_capita[['regional_division','article_title','population']].drop_duplicates(subset=  ['regional_division']).reset_index(drop=True)
articles_per_capita['article_per_capita_ratio'] = articles_per_capita['article_title']/articles_per_capita['population']
articles_per_capita.columns = ['regional_division','article_count','population','article_per_capita_ratio']
articles_per_capita.sort_values(by = 'article_per_capita_ratio', ascending = False, inplace=True)
articles_per_capita.reset_index(inplace=True, drop=True)
articles_per_capita

    regional_division  article_count  population  article_per_capita_ratio
0     Middle Atlantic           2548  12972008.0                  0.000196
1  West North Central           2902  18032808.0                  0.000161
2         New England           1160   9014378.0                  0.000129
3  East North Central           4734  47097779.0                  0.000101
4  East South Central           1519  19578002.0                  0.000078
5  West South Central           2092  41685250.0                  0.000050
6            Mountain           1073  23400976.0                  0.000046
7             Pacific           1269  53229044.0                  0.000024
8      South Atlantic            745  38111498.0                  0.000020

## ANALYSIS 6 - Census divisions by high quality coverage: Rank ordered list of US census divisions (in descending order) by high quality articles per capita.

### Filtering the merged data to only find the rows with high quality. Using GA and FA as the condition for filtering high quality articles

In [349]:
final_df.head()
quality_df = final_df.loc[final_df['article_quality'].isin(['GA','FA'])]
print(quality_df.shape)

(3899, 6)

### Gist of the code :
Aggregating based on Regional Division by using groupby

Dropping Duplicates 

Sorting Values in Descending Order

In [350]:
inter = quality_df.groupby(['regional_division'])['article_title'].count().sort_values(ascending=False).reset_index()
articles_per_capita = pd.merge(inter, division_df,how = 'left', on = 'regional_division')
articles_per_capita= articles_per_capita[['regional_division','article_title','population']].drop_duplicates(subset=  ['regional_division']).reset_index(drop=True)
articles_per_capita['article_per_capita_ratio'] = articles_per_capita['article_title']/articles_per_capita['population']
articles_per_capita.columns = ['regional_division','article_count','population','article_per_capita_ratio']
articles_per_capita.sort_values(by = 'article_per_capita_ratio', ascending = False, inplace=True)
articles_per_capita.reset_index(inplace=True, drop=True)
articles_per_capita.head(10)

    regional_division  article_count  population  article_per_capita_ratio
0     Middle Atlantic            562  12972008.0                  0.000043
1  West North Central            555  18032808.0                  0.000031
2         New England            150   9014378.0                  0.000017
3  East South Central            312  19578002.0                  0.000016
4  West South Central            630  41685250.0                  0.000015
5  East North Central            711  47097779.0                  0.000015
6            Mountain            301  23400976.0                  0.000013
7             Pacific            479  53229044.0                  0.000009
8      South Atlantic            199  38111498.0                  0.000005